{% extends 'main.html' %}

{% block content %}
  <br>
   <div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Employees</h5>
        </div>
        <div class = "card card-body">
            <table class ="table">
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Occupation</th>
                    <th>Experience</th>
                </tr>
                {% for employee in employees %} 
                <tr>
                   <td>{{ employee.name }}</td>
                   <td>{{ employee.phone }}</td>
                   <td>{{ employee.email }}</td>
                   <td>{{ employee.address }}</td>
                   <td>{{ employee.occupation }}</td>
                   <td>{{ employee.experience }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}